<template>
  <div class="nav">
    <div class="logo">
      <img src="@/assets/img/logo.png" alt="">
    </div>
    <nav>
      <a href="javascript:;">Sobre mí</a>
      <a href="javascript:;">Cirugías</a>
      <a href="javascript:;">Contacto</a>
      <span>|</span>
      <a href="javascript:;">
        <v-icon color="#0C2340">mdi-share-variant</v-icon>
      </a>
    </nav>
  </div>
</template>

<script>
export default {
  name: 'Header'
}
</script>

<style lang="scss" scoped>
@import '@/scss/_custom_variables.scss';
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  z-index: 1001;
  .logo {
    width: 120px;
    img {
      display: block;
      width: 100%;
    }
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      text-decoration: none;
      color: $primary;
      margin: 0 2rem;
      font-size: 1.2rem;
      font-weight: 600;
      transition: all 0.3s ease-out;
      &:hover {
        color: $secondary;
      }
    }
  }
}
</style>
