<template>
  <div>
    <section class="home">
      <div class="bg">
        <img src="@/assets/img/home_bg.jpg" alt="" class="img-cover">
      </div>
      <v-container class="h-100">
        <v-row class="h-100 align-center">
          <v-col cols="8">
            <h2 class="overline-1">Cirugía general y laparoscópica</h2>
            <h2 class="display-4 header-title">Dr. Juan <br>Habid Soto</h2>
            <!-- <h2 class="overline-1">Dr. Juan Habid Soto</h2>
            <h2 class="display-4 header-title">Cirugía general y laparoscópica</h2> -->
            <p class="text-subtitle mb-12">Lorem ipsum dolor sit <br>amet consectetur adipisicing elit. Vero, <br>voluptatem nisi! Deserunt aspernatur</p>
            <v-btn
              color="#002F6C"
              dark
              large
              depressed
            >Contactar</v-btn>
          </v-col>
        </v-row>
      </v-container>
    </section>
  </div>
</template>

<script>

export default {
  name: 'Home',
  components: {
  }
}
</script>
<style lang="scss" scoped>
.home {
  height: 100vh;
  .bg {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    filter: sepia(0.3);
  }
  .logo {
    width: 200px;
  }
}
</style>
