@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import 'custom_variables';

.v-btn.v-size--large {
  font-size: 0.9rem;
}

.h-100 {
  height: 100%;
}
.container {
  position: relative;
}
.overline-1 {
    font-size: 0.75rem !important;
    font-weight: 600;
    letter-spacing: 0.1666666667em !important;
    // line-height: 2rem;
    font-style: italic;
    padding-left: 30px;
    padding-bottom: 10px;
    position: relative;
    color: $secondary;
    &::before {
      content: "";
      position: absolute;
      top: 0.5rem;
      left: 0;
      width: 15px;
      height: 2px;
      background-color: currentColor;
    }
}
.text-primary {
  color: $primary;
}
.text-subtitle {
  color: $grey;
}
.header-title {
  font-weight: 600!important;
  line-height: 7rem!important;
  margin-bottom: 3rem;
  color: $primary;
}
.img-cover {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}