/*
 Sobreescribir variables de vuetify
*/
@use "sass:map";
// $font-size-root: 14px;
$body-font-family: 'Montserrat', serif;
$line-height-root: 1.8;
$btn-text-transform: initial;
$btn-letter-spacing: 0.2rem;